{% extends 'cursosapp/base.html' %}
{% load static %} 

{% block tituloPagina %} 
Ingresar Profesor
{% endblock %} 

{% block contenidoPagina %} 

<section class="bg-light py-5">
    <div class="container px-5" >
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <h2 style="color: rgb(0, 4, 255)" >Ingresa un nuevo profesor:</h2>
                    <form action="" method="post">
                     {% csrf_token %}

                     <p>Nombre del Profesor: <input type="text" name="nombreprofesor" id=""></p>
                     <p>Nivel: <input type="number" name="nivel" id=""></p>
                     <p>Edad: <input type="number" name="edad" id=""></p>

                     <input type="submit" value="Ingresar Profesor">
                    </form>
            </div>
        </div>
    </div>
</section>

{% endblock %} 

