{% extends 'cursosapp/base.html' %}
{% load static %} 

{% block tituloPagina %} 
<h1>Bienvenidos</h1>
{% endblock %} 


{% block contenidoPagina %} 

<center> 
    <img src="https://imgs.search.brave.com/DVFP7kjzJ5UaMf6WMLxE3EIxX7zwhBeT7Y7eYxczCb4/rs:fit:1200:720:1/g:ce/aHR0cHM6Ly9jYXJk/Ymlzcy5jb20vd3At/Y29udGVudC91cGxv/YWRzLzIwMjEvMDgv/MTg5NDEtMS5qcGc" alt="Imagen código"> 
</center>


<center><h2 style="color:grey">¿Quienes somos?
</h2></center>

<center><p>
    <h3 style="color:rgb(17, 0, 255)" >  Somos una institución dedicada a brindarle la mejor opción al estudiante de I.T. 
    Con una plataforma única, para poder facilitar su aprendizaje y su accesibilidad a la información.</h3>
</p></center>
{% endblock %} 